.main {
    background-color: var(--bg-aux);
    height: 100%;
}
.courses {
    display: flex;
    gap: 1rem;
    overflow-x: auto; 
}
.courses::-webkit-scrollbar {
    display: none; 
    background-color: transparent;
}
.card-course {
    height: 200px;
    aspect-ratio: 1/1;
    background-color: var(--bg) !important;
    border: none;
    flex: 0 0 auto;
}
.progress {
    height: 10px;
}
.card-body {
    padding: .5rem !important;
    display: flex;
    flex-direction: column;
}
.card-body > .name {flex: 4;}

#offcanvasExample {
    background-color: var(--bg);
    color: var(--text);
}
#table,#tableSections, #tableWaitList{
    width: 100%;
}
td {border: 1px #DDD solid; padding: 5px; cursor: pointer;}
.selected {
    background-color: var(--primary-color);
    color: #FFF;
}